body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: silver;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
