#whatis {
    color: white;
    font-size: 28px;
}

#whatisdiv {
    margin-top: 0.5px;
    ;
    margin-left: auto;
    text-align: center;
    width: 100%;
}

#textt {
    color: white;
    font-size: 20px;
}

#textdiv {
    margin: 40px;
}

#aimgdiv {
    margin: 40px;
    width: 95%;
    margin: 0 auto;
}

    #aimgdiv img {
        width: 100%;
    }

@media all and (max-width: 1000px) {
    #frame {
        min-height: 100%;
    }
}
