#loading {
    background-color: #12171a;
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease;
    position: absolute;
    top:0px;
    z-index:25;
}

#llogodiv {
    color: white;
    width: 100px;
    height: 100px;
    background-color: dimgrey;
    margin: auto;
    text-align: center;
    line-height: 100px;
    transition-duration: 2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#llogodiv {
    opacity: 1;
}

#llogo {
    display: inline-block;
    color: white;
    font-size: 50px;
    margin: auto;
    white-space: nowrap;
}

#llogodiv1 {
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    line-height: 100px;
    display: inline-block;
}

#llogotext {
    color: white;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    margin-left: 20px;
}

#llogo1 {
    display: inline-block;
    color: white;
    font-size: 50px;
    margin: auto;
    white-space: nowrap;
}

#Enterprise {
    margin: auto;
    text-align: center;
    position: absolute;
    width: 313px;
    opacity: 0;
    transition: opacity 0.6s ease;
}
