* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
    background-color: silver;
    box-sizing: border-box;
}

#frame {
    width: 80%;
    background-color: #12171a /*#1C1C1C*/ /*#0F0A0F*/;
    margin: 0 auto;
    display: block;
    padding-top: 0px;
    top: 0px;
}

#cont {
    margin-top: 60px;
    margin-bottom: 20px;
    width:100%;
    display: inline-block;
}


main {
    height: 40px;
    width: 65%;
    margin: 10px;
    float: right;
    padding: 10px;
    color: white;
}

nav {
    background-color: #010102;
    height: 40px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 20px;
    position: fixed;
    top: 0px;
    z-index: 3;
}

#main a {
    color: White;
}

a {
    text-decoration: none;
    margin: 0px;
}

#main {
    margin: 0px;
    padding-left: 5px;
    display: inline-block;
}

#logoreg {
    width: 95%;
    position: center;
    float: right;
    text-align: center;
    display: inline-block;
    margin-right: 27px;
    margin-top: 5px;
}

#logo {
    position: center;
}

#i1 {
    width: 1910px;
    height: 25px;
    margin-top: 7px;
    transform: scaleY(0.1) scaleX(0);
    transform-origin: left;
    transform: translateX(-2000px);
    background: black;
    transition-duration: 0.5s;
}

#ii {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    padding-top: 5px;
    transition: background-color 0.5s;
}

    #ii span{
        margin-left:10px;
    }

    #ii:hover {
        background-color: dimgrey;
    }

    #ii:hover #i1 {
        transform-origin: left;
        transform: translateX(-15px);
        background-color: dimgrey;
        transition-timing-function: ease-in-out;
    }

.progressContainer {
    width: 10px;
    height: 10%;
    background: none;
    left: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 2;
}

.progressBar {
    height: 0%;
    background: #010102;
    width: 100%;
    z-index: 1;
}

#_up {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 4
}

    #_up div {
        width: 60px;
        height: 60px;
        background-color: #010102;
        float: right;
    }

#imm {
    width: 60px;
    float: right;
}

#imm {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: rotate(180deg);
}

.im {
    transition-duration: 1s;
}

    .im:hover {
        transform: scaleX(1.015) scaleY(1.015);
        transition-timing-function: ease-in-out;
    }

#addmy {
    width: 95%;
    margin: 30px auto;
    height: 50px;
    padding-top: 10px;
    background-color: white;
}


@media all and (max-width: 1000px) {

    #frame {
        width: 100%;
        background-color: #12171a /*#1C1C1C*/ /*#0F0A0F*/;
        margin: 0 auto;
        display: block;
        padding-top: 0px;
        top: 0px;
        overflow: hidden;
    }

    #cont {
        width: 100%;
        margin-top: 103px;
        margin-bottom: 20px;
        display: block;
    }
    #logoreg {
        width: 88.9%;
        position: center;
        float: right;
        text-align: center;
        display: inline-block;
        margin-right: 27px;
        margin-top: 5px;
    }

    main {
        width: 65%;
        margin: 10px;
        float: right;
        padding: 10px;
        color: white;
    }

    nav {
        background-color: #010102;
        height: 55px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        color: white;
        font-size: 40px;
        position: fixed;
        top: 0px;
        z-index: 3;
    }
    #i1 {
        width: 1910px;
        height: 50px;
        margin-top: 0px;
        transform: scaleY(0.1) scaleX(0);
        transform-origin: left;
        transform: translateX(-2000px);
        background: black;
        transition-duration: 0.5s;
    }

    #ii {
        display: inline-block;
        width: 55px;
        height: 55px;
        margin-left: 10px;
        padding-top: 5px;
        transition: background-color 0.5s;
    }

        #ii span {
            margin-left: 15px;
        }

        #ii:hover {
            background-color: dimgrey;
        }

            #ii:hover #i1 {
                transform-origin: left;
                transform: translateX(-15px);
                background-color: dimgrey;
                transition-timing-function: ease-in-out;
            }

    #_up {
        
        position: fixed;
        right: 0px;
        bottom: 0px;
        z-index: 4
    }

        #_up div {
            width: 120px;
            height: 120px;
            background-color: #010102;
            float: right;
        }
        #_up div img {
            width: 100%;
        }

}
